[Unit]
Description=Corvault Exporter service
After=network.target

[Service]
Type=simple
User=prometheus

ExecStart = /usr/local/bin/prometheus_corvault_exporter

[Install]
WantedBy=multi-user.target

