# Set timeout
SUBSYSTEM=="block", ACTION=="add|change", ATTRS{vendor}=="DataCore", ATTRS{model}=="Virtual Disk*", \
  RUN+="/bin/sh -c 'echo 80 > /sys/block/%k/device/timeout'"